@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

@font-face {
    font-family: "Bruce - Forever";
    src: url("Font/BruceForeverRegular-X3jd2.woff") format("woff"),
         url("Font/BruceForeverRegular-X3jd2.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rapier Zero";
    src: url("Font/RapierZero-325M.woff") format("woff"),
         url("Font/RapierZero-325M.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("Images/fate-stay-night-5k-60.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 50px;
}

.profile-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Bruce - Forever";
    font-weight: normal;
    color: white;
}

.contact-me {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "Bruce - Forever";
    font-weight: normal;
    color: white;
}

.profile-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Rapier Zero";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.self-img {
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
}

.p {
   padding-top: 3em;
}

.main-footer {
    background-color: rgb(255, 117, 43);
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 70px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid aqua;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: aqua;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.copy-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.copy-row:last-child {
    border-bottom: none;
}

.copy-row2 {
    display: inline-block;
    margin: 0px;
    margin-bottom: 1em;
    font-size: 14px;
    align-items: right;
    padding-left: 12em;
}

.copy-row3 {
    display: inline-block;
    margin: 0px;
    margin-bottom: 1em;
    font-size: 14px;
    align-items: left;
    padding-right: 12em;
}

.copy-row4 {
    margin-bottom: 1em;
    font-size: 14px;
    text-align: right;
}

.copy-row5 {
    display: inline-block;
    margin: 0px;
    margin-bottom: 1em;
    font-size: 14px;
    align-items: left;
    padding-left: 3.1em;
}

.copy-item {
    display: inline-block;
    padding-right: .5em;
}

.copy-copy {
    color: #555;
    font-weight: bold;
    width: 20%;
}

.copy-name {
    width: 90%;
}

.copy-btn {
    max-width: 20%;
}

.copy-btn2 {
    max-width: 40%;
}

.btn-primary {
    color: white;
    background-color: rgb(255, 117, 43);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(162, 91, 55);
}

.anime-item {
    margin: 30px;
}

.anime-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
}

.anime-img {
    width: 200px;
}

.anime-details {
    display: block;
    align-items: center;
    padding: 5px;
}

.anime-ep {
    flex-grow: 1;
    color: #333;
}

.anime-items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vid-po {
    display: block;
    padding-bottom: 50px;
    margin: auto;
    border: none;
}